@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Universal - All In 1 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../../vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Roboto-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="../../vendor/bootstrap-select/css/bootstrap-select.min.css">
    <!-- owl carousel-->
    <link rel="stylesheet" href="../../vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../Content/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../Content/css/custom.css">
    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" href="../../Content/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../../Content/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../../Content/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../Content/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../Content/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../Content/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../Content/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../Content/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../Content/img/apple-touch-icon-152x152.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div id="all">

        <div class="tlinks"></div>
        <section style="background: url('../../Content/img/photogrid.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
            <div class="container">
                <!-- Carousel Start-->
                <div class="home-carousel">
                    <div class="dark-mask mask-primary"></div>
                    <div class="container">
                        <div class="homepage owl-carousel">
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <p><img src="../../Content/img/logo.png" alt="" class="ml-auto"></p>
                                        <h1>Protect wildlife </h1>
                                        <p>The head of the soul of all things should bear the responsibility of the soul of all things.</p><br />
                                        <p>You're just an animal. If you want to be an animal. </p>
                                    </div>
                                    <div class="col-md-7"><img src="../../Content/img/template-homepage.png" alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-7 text-center"><img src="../../Content/img/template-mac.jpg" alt="" class="img-fluid"></div>
                                    <div class="col-md-5">
                                        <h2>May the love of animals grow with you forever.</h2>
                                        <ul class="list-unstyled">
                                            <li>To love animals is to love ourselves. </li>
                                            <li>Don't let humans be the last kind of animal. </li>
                                            <li>Care for wildlife, protect the beautiful home!  </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <h1>LOVE</h1>
                                        <ul class="list-unstyled">
                                            <li>Along with the earth, sharing nature!</li>
                                            <li>Don't let everything become a memory.</li>
                                            <li>Our site I make decisions, our animal care.</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-7"><img src="../../Content/img/template-easy-customize.jpg" alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-7"><img src="../../Content/img/template-easy-code.png" alt="" class="img-fluid"></div>
                                    <div class="col-md-5">
                                        <h1>ACTION</h1>
                                        <ul class="list-unstyled">
                                            <li>Mo to lure with human intelligence, forcing the animal do things together.</li>
                                            <li>Frozen shoulders, and not on their pain, please do not wear fur.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel End-->
            </div>
        </section>
        <section class="bg-white bar">
            <div class="container">
                <div class="heading text-center">
                    <h2>作品展区</h2>
                </div>
                <p class="lead">野生动物与人类之间一向持续着良好的邻里关系，与此同时，野生动物也一向是人类最好的朋友。因此，一旦野生动物的生存与发展受到威胁，不仅仅对于野生动物自身来说是不利的，对于我们人类及我们的子孙后代都是没有任何意义的。所以，保护野生动物不仅仅事关大自然的生态平衡，还对我们人类的生存与发展有着重大的意义。</p>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="home-blog-post">
                            <div class="image">
                                <img src="../../Content/img/portfolio-4.jpg" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><a href="/Article/ShowContext/0" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                            </div>
                            <div class="text">
                                <h4><a href="/Article/ShowContext/0">亚欧非洲类</a></h4>
                                <p class="author-category">你不知道的许多animals</p>
                                <p class="intro">在扎伊抄尔维龙加天然动物园里，有七彩的巨蟒，黑白相间的斑马，有数不清的红羽鸟、各种颜色交织的五彩鸟，有美丽温顺的梅花鹿，更有非洲雄狮、河马、金钱豹和象群。</p><a href="/Article/ShowContext/0" class="btn btn-template-outlined">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="home-blog-post">
                            <div class="image">
                                <img src="../../Content/img/portfolio-5.jpg" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><a href="/Article/ShowContext/1" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                            </div>
                            <div class="text">
                                <h4><a href="/Article/ShowContext/1">南北美洲类</a></h4>
                                <p class="author-category">发现不一样的世界</p>
                                <p class="intro">美洲作为世界上经济最为发达的洲，美洲10大代表动物分别是亚利桑那州树皮蝎，美洲虎，加拿大黑雁，东方驼鹿，美洲河狸，美洲野牛，密河鼍，美洲狮，浣熊，白头海雕</p><a href="/Article/ShowContext/1" class="btn btn-template-outlined">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="home-blog-post">
                            <div class="image">
                                <img src="../../Content/img/portfolio-6.jpg" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><a href="/Article/ShowContext/2" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                            </div>
                            <div class="text">
                                <h4><a href="/Article/ShowContext/2">大洋洲类</a></h4>
                                <p class="author-category">热带雨林地区</p>
                                <p class="intro">大洋洲的热带雨林动植物种类繁多，但是去年持续了四五月的山火已经为这片雨林带来了巨大的灾难，在路边总能看到已经被山火摧毁的动物的遗骸，触目惊心...</p><a href="/Article/ShowContext/2" class="btn btn-template-outlined">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="home-blog-post">
                            <div class="image">
                                <img src="../../Content/img/portfolio-7.jpg" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><a href="/Article/ShowContext/3" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                            </div>
                            <div class="text">
                                <h4><a href="/Article/ShowContext/3">南极洲北冰洋类</a></h4>
                                <p class="author-category">生活在地球两极的可爱animal</a></p>
                                <p class="intro">正是因为生活在两极，气温严寒，而全球气候变暖已经威胁到了动物宝贝们的栖息地，没有了栖息地就等于没有了生存空间，如果人类再不施以援助之手，灭亡将是结局...</p><a href="/Article/ShowContext/3" class="btn btn-template-outlined">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="home-blog-post">
                            <div class="image">
                                <img src="../../Content/img/portfolio-8.jpg" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><a href="/Article/ShowContext/4" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                            </div>
                            <div class="text">
                                <h4><a href="/Article/ShowContext/4">公益海报类 </a></h4>
                                <p class="author-category">奇思妙想聚集地</p>
                                <p class="intro">这里有一些比较优秀有趣的公益保护海报，如果你有想法，赶快来分享；如果你欣赏到了很棒的作品可以用来宣传和分享，这里的作品将会触动你的心弦。</p><a href="/Article/ShowContext/4" class="btn btn-template-outlined">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="home-blog-post">
                            <div class="image">
                                <img src="../../Content/img/portfolio-9.jpg" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><a href="/Article/ShowContext/5" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                            </div>
                            <div class="text">
                                <h4><a href="/Article/ShowContext/5">号召宣传类</a></h4>
                                <p class="author-category">演讲稿、宣传语</p>
                                <p class="intro">如果说，一种能够真切表达对动物的宣传和保护最振奋人心的形式就是演讲，那么，简单而精炼的形式，就是一句宣传语。</p><a href="/Article/ShowContext/5" class="btn btn-template-outlined">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="home-blog-post">
                            <div class="image">
                                <img src="../../Content/img/portfolio-10.jpg" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><a href="/Article/ShowContext/6" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                            </div>
                            <div class="text">
                                <h4><a href="/Article/ShowContext/6">心得日志类 </a></h4>
                                <p class="author-category">记录你的所见所闻所感</p>
                                <p class="intro">在旅行途中你见到了有趣的动物伙伴，记录与他们的生活；突发的灵感，也可以分享到这里；当然，没有经历过的伙伴可以欣赏到别人的作品。</p><a href="/Article/ShowContext/6" class="btn btn-template-outlined">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="home-blog-post">
                            <div class="image">
                                <img src="../../Content/img/portfolio-11.jpg" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><a href="/Article/ShowContext/7" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                            </div>
                            <div class="text">
                                <h4><a href="/Article/ShowContext/7">其他类 </a></h4>
                                <p class="author-category">小故事、散文、随笔等</p>
                                <p class="intro">满足你的其他文章需求，在这里你可以随意发挥，在表达你对濒危野生动物情感的同时，宣传和呼吁更多人关注濒危野生动物的保护。</p><a href="/Article/ShowContext/7" class="btn btn-template-outlined">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- GET IT-->
        <div class="get-it">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-center p-3">
                        <h3>如果你喜欢我们的网站请赏给我们一个大大的赞，未来我们会再接再厉、努力工作^*_*^</h3>
                    </div>
                    <div class="col-lg-4 text-center p-3">   <a href="#" class="btn btn-template-outlined-white">点赞</a></div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h4 class="h6">关于我们</h4>
                        <p>我们是一个公益性网站，目的是为了向大家介绍目前地球上正处于永远消失在这个世界上的困境的濒危野生动物，也提供了一个更广的平台方便大家宣传濒危动物相关信息，呼吁大家一起加入保护濒危野生动物的队列中，同时也在征集志愿者为濒危物种保护事业奉献力量。</p>
                        <hr>

                        <hr class="d-block d-lg-none">
                    </div>
                    <div class="col-lg-3">
                        <h4 class="h6">网站标签</h4>
                        <ul class="list-unstyled footer-blog-list">
                            <li class="d-flex align-items-center">
                                <div class="image"><img src="../../Content/img/detailsquare.jpg" alt="..." class="img-fluid"></div>
                                <div class="text">
                                    <h5 class="mb-0"> <a href="javascript: void(0">濒危野生动物保护</a></h5>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="image"><img src="../../Content/img/detailsquare2.jpg" alt="..." class="img-fluid"></div>
                                <div class="text">
                                    <h5 class="mb-0"> <a href="javascript: void(0">濒危动物保护组织</a></h5>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="image"><img src="../../Content/img/detailsquare3.jpg" alt="..." class="img-fluid"></div>
                                <div class="text">
                                    <h5 class="mb-0"> <a href="javascript: void(0">濒危野生动物日志</a></h5>
                                </div>
                            </li>
                        </ul>
                        <hr class="d-block d-lg-none">
                    </div>
                    <div class="col-lg-3">
                        <h4 class="h6">联系我们</h4>
                        <p class="text-uppercase"><strong>Universal Ltd.</strong><br>13/25 New Avenue <br>Newtown upon River <br>45Y 73J <br>China <br><strong>Great China</strong></p><a href="/Home/Contact" class="btn btn-template-main">联系我们</a>
                        <hr class="d-block d-lg-none">
                    </div>
                    <div class="col-lg-3">
                        <ul class="list-inline photo-stream">
                            <li class="list-inline-item"><a href="#"><img src="../../Content/img/detailsquare.jpg" alt="..." class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="../../Content/img/detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="../../Content/img/detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="../../Content/img/detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="../../Content/img/detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="../../Content/img/detailsquare.jpg" alt="..." class="img-fluid"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  

</body>
</html>

